<p> tarngchu <p>
<p>ten: {{ten}}</p>
{{{html}}}


    <form action="/submit" method="POST" role="form">
        <legend>Form title</legend>
    
        <div class="form-group">
            <label for="">label</label>
            <input type="text" class="form-control" id="" placeholder="Input field" name="nhap">
        </div>
    
        
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
